@keyframes gradient-move {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-gradient-bg {
  background-size: 300% 300%;
  animation: gradient-move 10s ease infinite;
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}
